{% set page_name = 'dulab:index' %}
{% extends "dulab/base.html" %}
{% block main %}
<div id="slideshow" class="carousel slide carousel-fade shadow-sm" data-bs-ride="carousel">
	<div class="carousel-indicators">
		{% for i in range(sliden) %}
    	<button type="button" data-bs-target="#slideshow" data-bs-slide-to="{{ i }}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ i + 1}}"></button>
  		{% endfor %}
  	</div>
	<div class="carousel-inner">
		{% for slide in slides %}
		{% set is_video = slide.slide.url.endswith('.mp4') %}
		<div class="carousel-item position-relative {% if loop.first %} active {% endif %}" data-bs-interval="{% if is_video %}10000{% else %}3000{% endif %}" {% if not is_video %} style="background-image:url({{ slide.slide.url }});" {% endif %}>

			{% if is_video %}
			<video autoplay muted loop>
				<source src="{{ slide.slide.url }}" type="video/mp4">
			</video>
			{% endif %}

			{% if slide.title or slide.description %}
			<div class="position-absolute top-50 start-50 translate-middle">
				<div class="hero text-center text-white">
					<div class="container">
						{% if slide.title %}
						<h1 class="display-5 fw-bold">{{ slide.title }}</h1>
						{% endif %}

						{% if slide.description %}
						<div class="mt-4 fs-2">{{ slide.description | safe }}</div>
						{% endif %}
						
						{% if slide.extra %}
						<div class="mt-4">
							{{ slide.extra | safe }}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
{% if introduce %}
<div class="container my-5 overflow-hidden">
	<div class="row py-5 mt-md-2 g-5 align-items-center">
		<div class="col-lg-7 pe-md-5">
			<h3 class="text-success">{{ introduce.title }}</h3>
			<p class="my-4 lh-lg">{{ introduce.content }}</p>
			<p><a class="btn btn-outline-success" href="{{ url('dulab:about') }}">{{ _("了解更多") }}</a></p>
		</div>
		<div class="col-lg-5">
			<div class="animate-hover">
				{% if introduce.thumbnail %}
				<img src="{{ introduce.thumbnail.url }}" class="img-fluid">
				{% else %}
				<img src="{{ static('dulab/image/lab.jpg') }}" class="img-fluid">
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if interest %}
<div class="bg-light my-5 py-5">
	<div class="container py-5 overflow-hidden">
		<div class="row g-5 align-items-center">
			<div class="col-lg-5">
				<div class="animate-hover">
					{% if interest.thumbnail %}
					<img src="{{ interest.thumbnail.url }}" class="img-fluid">
					{% else %}
					<img src="{{ static('dulab/image/research.jpg') }}" class="img-fluid">
					{% endif %}
				</div>	
			</div>
			<div class="col-lg-7 ps-md-5">
				<h3 class="text-success">{{ interest.title }}</h3>
				<p class="my-4 lh-lg">{{ interest.content }}</p>
				<p class="text-right">
					<a class="btn btn-outline-success" href="{{ url('dulab:research') }}">{{ _("了解更多") }}</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="container py-5 overflow-hidden">
	<h2 class="text-success text-center">{{ _("组学技术") }}</h2>
	<p class="text-center mt-3">{{ _("课题组使用高通量测序技术结合多组学分析技术解密基因组信息") }}</p>
	<div class="row g-5 row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5 research-intresting">
		{% for support in supports %}
		<div class="col px-5">
			<div class="border border-5 rounded-circle animate-hover d-inline-block">
				<img src="{{ support.thumbnail.url }}" class="rounded-circle img-fluid" width="180">
			</div>
			<h4 class="my-3">{{ support.title }}</h4>
			<p class="lh-lg">{{ support.content }}</p>
		</div>
		{% endfor %}
	</div>
</div>

<div class="bg-secondary-lt my-5 py-5">
	<div class="container py-5">
		<h2 class="text-success text-center">{{ _("最新成果") }}</h2>
		<div class="splide mt-5" id="pub-slider" aria-label="publications">
			<div class="splide__track">
				<ul class="splide__list">
					{% for pub in papers %}
					<li class="splide__slide">
						<div class="text-center px-5">
							{% if pub.cover %}
							<p><img src="{{ pub.cover.url }}" class="paper-thumbnail"></p>
							{% endif %}
							<p class="lh-lg px-5">
								{{ pub.authors }}.
								{{ pub.title }}.
								<strong>{{ pub.journal }}</strong>,
								{{ pub.year }},
								{% if pub.volume %}{{ pub.volume }}{% else %}{{ pub.doi }}.{% endif %}{% if pub.issue %}({{ pub.issue }}){% endif %}{% if pub.pages %}:{{ pub.pages }}.{% endif %}
							</p>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container py-5">
	<h2 class="text-success text-center">{{ _("最新消息") }}</h2>
	<div class="splide mt-5" id="card-slider" aria-label="news">
		<div class="splide__track">
			<ul class="splide__list">
				{% for post in posts %}
				<li class="splide__slide">
					<div class="splide__slide__container">
						<img src="{{ post.thumbnail.url }}">
					</div>
					<div class="my-4">
						<a class="link-secondary text-decoration-none" href="{{ url('dulab:post', kwargs={'slug': post.slug}) }}"><strong>{{ post.title }}</strong></a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="splide__progress mt-5">
			<div class="splide__progress__bar">
			</div>
	  	</div>
	</div>
</div>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ static('dulab/css/splide.min.css') }}">
<style>
	.splide__progress{background:#e5e7eb;margin-top:1rem}
	.splide__progress__bar{background:#066fd1;height:2px;transform:translateZ(0);will-change:width}
</style>
{% endblock %}

{% block script %}
<script src="{{ static('dulab/js/splide.min.js') }}"></script>
<script type="text/javascript">
new Splide('#pub-slider', {
	pagination: false,
}).mount()

new Splide('#card-slider', {
	pagination: false,
	arrows: false,
	autoplay: true,
	interval: 5000,
	type: 'loop',
	//rewind: true,
	perPage: 4,
	cover: true,
	height: '15rem',
	gap: '4rem',
	breakpoints: {
		'800': {
			perPage: 2,
			height: '10rem',
			gap: '2rem',
		}
	}
}).mount()
</script>
{% endblock %}