{% set page_name = "dulab:member" %}
{% extends "dulab/base.html" %}
{% block title %}{{ member.name }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	<div class="card card-lg">
		<div class="card-body">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="text-center text-md-end me-md-5">
						<div class="rounded-circle border border-5 d-inline-block animate-hover">
							{% if member.avatar %}
							<img src="{{ member.avatar.url }}" alt="avatar" class="rounded-circle img-fluid" style="max-width: 300px;">
							{% else %}
							<img src="{{ static('dulab/img/avatar.png') }}" alt="avatar" class="rounded-circle img-fluid" style="max-width: 300px;">
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center text-md-start ms-md-5">
						<h2>{{ member.name }}</h2>
						{% if member.identity == 1 %}
						<p>{{ member.title }}</p>
						{% else %}
						<p>
							{% if lang %}
							{{ member.grade }}{{ _("级") }}
							{% else %}
							{{ _("级") }} {{ member.grade }},
							{% endif %}
							{{ member.get_degree_display() }}{{ member.get_identity_display() }}
						</p>
						{% endif %}
						<p>{{ _("专业") }}: {{ member.major }}</p>
						<p>{{ _("研究方向") }}: {{ member.direct}}</p>
						<div class="btn-list">
							{% if member.user.email %}
							<a href="#" data-bs-toggle="tooltip" title="{{ member.user.email }}" data-bs-placement="bottom" class="btn btn-icon">
								<img src="{{ static('dulab/img/email.svg') }}" class="img-fluid" width="20">
							</a>
							{% endif %}
							{% if member.github %}
							<a href="{{ member.github }}" data-bs-toggle="tooltip" title="Github" data-bs-placement="bottom" class="btn btn-icon">
								<img src="{{ static('dulab/img/github.svg') }}" class="img-fluid" width="20">
							</a>
							{% endif %}
							{% if member.researchgate %}
							<a href="{{ member.researchgate }}" data-bs-toggle="tooltip" title="Researchgate" data-bs-placement="bottom" class="btn btn-icon">
								<img src="{{ static('dulab/img/rg.svg') }}" class="img-fluid" width="20">
							</a>
							{% endif %}
							{% if member.google %}
							<a href="{{ member.google }}" data-bs-toggle="tooltip" title="Google scholar" data-bs-placement="bottom" class="btn btn-icon">
								<img src="{{ static('dulab/img/scholar.svg') }}" class="img-fluid" width="20">
							</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<hr class="border-bottom border-1 my-5">
			<div class="row">
				<div class="col lh-xl">
					{{ member.bio | safe }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

