{% set pange_name = "dulab:about" %}
{% extends "dulab/base.html" %}
{% block title %}{{ object.title }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	<div class="row">
		<div class="col">
			<div class="card card-lg">
				<div class="card-body">
					<div class="text-center">
						<h1>{{ object.title }}</h1>
						<div class="mt-5">
							<img src="{{ static('dulab/img/dnabar.png') }}" class="img-fluid" width="500">
						</div>
					</div>
					<div class="mt-5 lh-xl">
						{{ object.content | safe }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}