<ul class="pagination pagination-outline">
  <li class="page-item {% if not page_obj.has_previous() %} disabled {% endif %}">
    <a class="page-link" href="{% if page_obj.has_previous() %}?page={{ page_obj.previous_page_number }}{% endif %}" tabindex="-1" aria-disabled="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M15 6l-6 6l6 6" /></svg>
    </a>
  </li>
  
  {% for i in range(page_obj.number-3, page_obj.number) %}
  {% if i > 0 %}
  <li class="page-item">
    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
  </li>
  {% endif %}
  {% endfor %}

  {% for j in range(page_obj.number, page_obj.number+4) %}
  {% if j <= page_obj.paginator.num_pages %}
  <li class="page-item {% if page_obj.number == j %}active{% endif %}">
    <a class="page-link" href="?page={{ j }}">{{ j }}</a>
  </li>
  {% endif %}
  {% endfor %}
  
   <li class="page-item {% if not page_obj.has_next() %} disabled {% endif %}">
      <a class="page-link" href="{% if page_obj.has_next() %}?page={{ page_obj.next_page_number }}{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M9 6l6 6l-6 6" /></svg>
      </a>
   </li>
</ul>