{% set page_name = "big:news" %}
{% extends "big/base.html" %}
{% block title %}{{ post.title }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h3>
				{{ post.title }}
			</h3>

			<div class="text-muted mt-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" style="display: inline-block;vertical-align: -.125em;">
				  <path d="M5.5 10.5A.5.5 0 0 1 6 10h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
				  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
				  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
				</svg>
				{% if lang %}
				{{ time_format(post.created, 'Y-m-d') }}
				{% else %}
				{{ time_format(post.created, 'M j, Y') }}
				{% endif %}
			</div>

			<hr class="border-top my-4 border-success">

			<!--{% if post.banner %}
			<div class="mt-4 animate-hover text-center">
				<img class="mb-3 img-fluid" src="{{ post.banner.url }}">
			</div>
			{% elif post.thumbnail %}
			<div class="mt-4 animate-hover text-center">
				<img class="mb-3 img-fluid" src="{{ post.thumbnail.url }}">
			</div>
			{% endif %}-->
			<div class="lh-xl post-content">
				{{ post.content | safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}