{% set page_name = "big:publication" %}
{% extends "big/base.html" %}
{% block title %}{{ _("研究成果") }} - {% endblock %}
{% block main %}
<div class="container">
	<div class="row">
		<div class="col">
			{% for research in researches %}
			<div class="d-flex flex-wrap flex-md-nowrap papers mt-5">
				<div class="order-1 pe-5">
					<div class="animate-hover text-center text-md-left">
						<img src="{{ research.thumbnail.url }}" class="paper-thumbnail">
					</div>
				</div>
				<div class="flex-md-grow order-3 order-md-2">
					<p class="lh-lg">
						{{ research.authors }}.
						<strong>{{ research.title }}</strong>.
						<i>{{ research.journal }}</i>,
						{{ research.year }}{% if research.volume %}, {{ research.volume }}{% endif %}{% if research.issue %}({{ research.issue }}){% endif %}{% if research.pages %}:{{ research.pages }}{% endif %}.
					</p>
					<p class="collapse" id="abstract-{{ research.id }}">{{ research.abstract }}</p>
					<div class="mt-4">
						<div class="btn-group btn-group-sm mt-2 mt-lg-0" role="group">
							<button class="btn btn-primary">DOI</button>
							<a class="btn btn-outline-primary" href="https://doi.org/{{ research.doi }}" target="_blank">{{ research.doi }}</a>
						</div>
						{% if research.pmid %}
						<div class="btn-group btn-group-sm mt-2 mt-lg-0" role="group">
							<button class="btn btn-success">PMID</button>
							<a class="btn btn-outline-success" href="https://pubmed.ncbi.nlm.nih.gov/{{ research.pmid }}" target="_blank">{{ research.pmid }}</a>
						</div>
						{% endif %}
						{% if research.factor %}
						<div class="btn-group btn-group-sm mt-2 mt-lg-0" role="group">
							<button class="btn btn-danger">IF</button>
							<button class="btn btn-outline-danger">{{ research.factor }}</button>
						</div>
						{% endif %}
						{% if research.pdf %}
						<a class="btn btn-sm btn-outline-dark mt-2 mt-lg-0" href="{{ research.pdf.url }}" target="_blank">PDF</a>
						{% endif %}
						{% if research.abstract %}
						<button class="btn btn-sm btn-outline-secondary mt-2 mt-lg-0" data-bs-toggle="collapse" data-bs-target="#abstract-{{ research.id }}">Abstract</button>
						{% endif %}
					</div>
				</div>
				<div class="order-2 order-md-3 ps-3">
					<span class="__dimensions_badge_embed__" data-style="small_circle" data-doi="{{ research.doi }}">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
{% endblock %}