{% extends 'dulab/subase.html' %}
{% set submenu = 'password' %}
{% block pagetitle %}
个人资料
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('dulab/css/cropper.min.css') }}">
{% endblock %}
{% block form %}
<form method="post">
    <div class="card-body">
      <h2 class="mb-4">修改密码</h2>
      {{ form | crispy }}
    </div>
    <div class="card-footer bg-transparent mt-auto">
      <div class="btn-list justify-content-end">
        <button type="submit" class="btn btn-primary">保存修改</button>
      </div>
    </div>
    {{ csrf_input }}
</form>
{% endblock %}
