{% set page_name = "dulab:softwares" %}
{% extends "dulab/base.html" %}
{% block title %}{{ _("软件资源") }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	{% for s in object_list %}
	<div class="card card-md">
		<span class="ribbon bg-red fs-4">
			{{ s.get_category_display() }}
		</span>
		<div class="card-header">
			<div>
				<div class="row align-items-center">
					{% if s.logo %}
					<div class="col-auto">
						<a class="avatar avatar-1" style="background-image: url({{ s.logo.url }})" href="{{ url('dulab:software', kwargs={'slug':s.slug}) }}"></a>
					</div>
					{% endif %}
					<div class="col">
						<div class="card-title"><strong>{{ s.name }}</strong></div>
						<div class="card-subtitle">{{ s.title }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row align-items-center">
				<div class="col-sm-6 col-md-4">
					{% if s.thumbnail %}
					<div class="animate-hover">
						<a href="{{ url('dulab:software', kwargs={'slug':s.slug}) }}"><img src="{{ s.thumbnail.url }}" class="img-fluid"></a>
					</div>
					{% endif %}
				</div>
				<div class="col-sm-6 col-md-8 ps-sm-3 ps-md-5 lh-lg">
					{{ s.description | safe }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
