{% set page_name = "dulab:softwares" %}
{% extends "dulab/base.html" %}
{% block title %}{{ object.name }} - {{ _("软件资源") }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	<div class="card card-lg">
		<div class="card-body">
			<div class="row align-items-center row-gap-4">
				<div class="col-md-6">
					<div class="h1">{{ object.name }}</div>
					<div class="mt-4 lh-lg">{{ object.comment | safe }}</div>
					<div class="mt-4">
						{% if object.url %}
						<a href="{{ object.url }}" class="btn btn-primary">{{ _("查看主页") }}</a>
						{% endif %}
						{% if object.doc %}
						<a href="{{ object.doc }}" class="btn btn-warning">{{ _("查看文档") }}</a>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center">
						{% if object.thumbnail %}
						<div class="animate-hover">
							<img src="{{ object.thumbnail.url }}" class="img-fluid">
						</div>
						{% elif object.logo %}
						<div class="animate-hover">
							<img src="{{ object.logo.url }}" class="img-fluid">
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			<hr>
			<div class="row mt-5">
				<div class="col">
					<h2>{{ _("描述") }}</h2>
					<div class="lh-lg">
						{{ object.description | safe }}
					</div>
				</div>
			</div>
			{% if object.citation %}
			<div class="row mt-5">
				<div class="col">
					<h2>{{ _("引用") }}</h2>
					<div class="lh-lg">
						{{ object.citation }}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	{% if object.versions.count() > 0 %}
	<div class="row mt-5">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">{{ _("下载列表") }}</h3>
				</div>
				<div class="table-responsive">
					<table class="table card-table table-vcenter text-nowrap">
						<thead>
							<tr>
								<th>{{ _("版本") }}</th>
								<th>{{ _("发布时间") }}</th>
								<th>{{ _("下载地址") }}</th>
							</tr>
						</thead>
						<tbody>
							{% for v in object.versions.all() %}
							<tr>
								<td>{{ v.version }}</td>
								<td>
									{{ v.created | date('Y-m-d') }}
									{{ v.created | time('H:i:s') }}
								</td>
								<td>
									{% for d in v.downloads.all() %}

									{% endfor %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
