{% set page_name = "dulab:members" %}
{% extends "dulab/base.html" %}
{% block title %}{{ _("团队成员") }} - {% endblock %}
{% block main %}
<div class="container mt-5">
	<div class="row row-cards">
		{% for m in object_list %}
		<div class="col-md-6 col-lg-3">
			<div class="card">
				<div class="card-body p-4 text-center">
					{% if m.avatar %}
					<span class="avatar avatar-xl rounded-circle mb-3" style="background-image: url({{ m.avatar.url }});"></span>
					{% else %}
					<span class="avatar avatar-xl rounded-circle mb-3" style="background-image: url({{ static('dulab/avatar.png') }});"></span>
					{% endif %}
					<h2 class="m-0 mb-1">
						<a href="{{ url('dulab:member', kwargs={'slug': user.username}) }}">{{ m.name }}</a>
					</h2>
					
					<div class="text-secondary">
						{% if m.position > 9 %}
						{% if lang %}
						{{ m.grade }}{{ _("级") }} {{ m.major }}
						{% else %}
						{{ m.major }}, {{ _("级") }} {{ m.grade }}
						{% endif %}
						{% else %}
						{{ m.title }}
						{% endif %}
					</div>

					<div class="mt-3">
						<span class="badge {% if m.position <= 7 %}bg-blue-lt{% else %}bg-green-lt{% endif %}">{{ m.get_position_display() }}</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
