{% set urlname="drugs" %}
{% extends "macaca/base.html" %}

{% block main %}
<h2 class="ui header">Disease Associated Genes</h2>
<table class="ui table amazing">
	<thead>
		<tr><th>Ensembl ID</th><th>Symbol</th><th>Name</th><th>Phenotype OMIM</th><th>SNPs in CDS</th></tr>
	</thead>
	<tbody>
		{% for disease in diseases %}
		<tr>
			<td><a href="{{ url('gene', kwargs={'gid':disease.orthology.gene.ensembl}) }}">{{ disease.orthology.gene.ensembl }}</a></td>
			<td>{{ disease.orthology.gene.name }}</td>
			<td>{{ disease.orthology.gene.description }}</td>
			<td><a href="{{ url('disease', kwargs={'did': disease.pomim}) }}">{{ disease.pomim }}</a></td>
			<td><a href="{{ url('csnps', kwargs={'gid':drug.orthology.gene.ensembl}) }}" class="ui mini orange label">View</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}