{% set urlname="drugs" %}
{% extends "macaca/base.html" %}

{% block main %}
<h2 class="ui header">Drug Target Genes</h2>
<table class="ui table amazing">
	<thead>
		<tr><th>Ensembl ID</th><th>Symbol</th><th>Name</th><th>Drug ID</th><th>Drug Name</th><th>SNPs in CDS</th></tr>
	</thead>
	<tbody>
		{% for drug in drugs %}
		<tr>
			<td><a href="{{ url('gene', kwargs={'gid':drug.orthology.gene.ensembl}) }}">{{ drug.orthology.gene.ensembl }}</a></td>
			<td>{{ drug.orthology.gene.name }}</td>
			<td>{{ drug.orthology.gene.description }}</td>
			<td><a href="{{ url('drug', kwargs={'did': drug.drug_id}) }}" target="_blank">{{ drug.drug_id }}</a></td>
			<td>{{ drug.drug_name }}</td>
			<td><a href="{{ url('csnps', kwargs={'gid':drug.orthology.gene.ensembl}) }}" class="ui mini orange label">View</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}