{% extends "macaca/base.html" %}
{% block main %}
<h2 class="ui brown header">
	MACSNP{{"%03d%09d"|format(snp.individual.id,snp.snp.id)}}
</h2>

<h3 class="ui header">Individual Information</h3>
<table class="ui table">
	<thead>
		<tr><th>Individual</th><th>Species</th><th>Common name</th><th>Group</th><th>Location</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ snp.individual.code }}</td>
			<td><i>{{ snp.individual.species.scientific }}</i></td>
			<td>{{ snp.individual.species.common }}</td>
			<td>{{ snp.individual.species.group.name }}</td>
			<td>{{ snp.individual.location }}</td>
		</tr>
	</tbody>
</table>

<h3 class="ui header">Variant Allele information</h3>
<table class="ui table">
	<thead>
		<tr><th>Chromosome</th><th>Position</th><th>Reference</th><th>Alteration</th><th>Genotype</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ snp.snp.chromosome.name }}</td>
			<td>{{ snp.snp.position }}</td>
			<td><span class="{{ snp.snp.reference }}">{{ snp.snp.reference }}</span></td>
			<td><span class="{{ snp.snp.alteration }}">{{ snp.snp.alteration }}</span></td>
			<td>
				{% if snp.genotype == 1 %}
				<span class="genotype homo">homozygote</span>
				{% else %}
				<span class="genotype hetero">heterozygote</span>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>

<h3 class="ui header">Variant Allele Flanking Sequence</h3>
<table class="ui definition table">
	<tr>
		<td>5' Flanking Sequence</td>
		<td>
			{% for b in snp.snp.five %}
			<span class="{{ b }}">{{ b }}</span>
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td>3' Flanking Sequence</td>
		<td>
			{% for b in snp.snp.three %}
			<span class="{{ b }}">{{ b }}</span>
			{% endfor %}
		</td>
	</tr>
</table>

<h3 class="ui header">Gene Information</h3>
<table class="ui table">
	<thead>
		<tr><th>Gene ID</th><th>Gene Name</th><th>Biotype</th><th>Position in Gene</th><th>Strand</th><th>Location</th></tr>
	</thead>
	<tbody>
		{% for gene in genes %}
		<tr>
			<td><a href="{{ url('gene', kwargs={'gid': gene.gene.ensembl}) }}">{{ gene.gene.ensembl }}</a></td>
			<td><a data-tooltip="{{ gene.gene.description }}">{{ gene.gene.name }}</a></td>
			<td>{{ gene.gene.get_biotype_display() }}</td>
			<td>{{ gene.gene_pos }}</td>
			<td>{{ gene.gene.strand }}</td>
			<td>{{ gene.get_feature_display() }}</td>
		</tr>
		{% else %}
		<tr><td colspan="6" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

<h3 class="ui header">Transcript and Protein Annotation Information</h3>
<table class="ui table">
	<thead>
		<tr>
			<th>Transcript ID</th>
			<th>Position in Transcript</th>
			<th>Codon Change</th>
			<th>Protein ID</th>
			<th>Position in Protein</th>
			<th>Residue Change</th>
			<th>Mutation</th>
		</tr>
	</thead>
	<tbody>
		{% for transcript in transcripts %}
		<tr>
			<td><a href="http://www.ensembl.org/Macaca_mulatta/Transcript/Summary?t={{ transcript.transcript.ensembl }}" target="_blank">{{ transcript.transcript.ensembl }} <i class="external alternate icon"></i></a></td>
			<td>{{ transcript.transcript_pos }}</td>
			<td>{{ transcript.ref_codon|format_codon(transcript.codon_pos)|safe }} -> {{ transcript.alt_codon|format_codon(transcript.codon_pos)|safe }}</td>
			<td><a href="http://www.ensembl.org/Macaca_mulatta/Transcript/ProteinSummary?t={{ transcript.transcript.ensembl }}" target="_blank">{{ transcript.transcript.protein }} <i class="external alternate icon"></i></a></td>
			<td>{{ transcript.protein_pos }}</td>
			<td>{{ transcript.ref_aa }} -> {{ transcript.alt_aa }}</td>
			<td>{{ transcript.get_synonymous_display() }}</td>
		</tr>
		{% else %}
		<tr><td colspan="7" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

<h3 class="ui header">SNPs of other individuals in this position</h3>
<table class="ui compact table">
	<thead>
		<tr><th>SNP ID</th><th>Individual</th><th>Species</th><th>Group</th><th>Location</th><th>Genotype</th></tr>
	</thead>
	<tbody>
		{% for other in others %}
		<tr>
			<td><a href="{{ url('snpid', kwargs={'indiv': '%03d'|format(other.individual.id), 'sid':'%09d'|format(other.snp.id)}) }}">MACSNP{{"%03d%09d"|format(other.individual.id,other.snp.id)}}</a></td>
			<td>{{ other.individual.code }}</td>
			<td>{{ other.individual.species.common }}</td>
			<td>{{ other.individual.species.group.name }}</td>
			<td>{{ other.individual.location }}</td>
			<td>
				{% if other.genotype == 1 %}
				<span class="genotype homo">homozygote</span>
				{% else %}
				<span class="genotype hetero">heterozygote</span>
				{% endif %}
			</td>
		</tr>
		{% else %}
		<tr><td colspan="5" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}