{% set urlname="snpcds" %}
{% extends "macaca/base.html" %}

{% block main %}
<h3 class="ui header">SNPs in {{ gid }}  Gene CDS Region</h3>
<table class="ui table amazing">
	<thead>
		<tr>
			<th>SNP ID</th>
			<th>Individual</th>
			<th>Position</th>
			<th>Reference</th>
			<th>Alteration</th>
			<th>Mutation</th>
			<th>Genotype</th>
		</tr>
	</thead>
	<tbody>
		{% for snp in snps %}
		<tr>
			<td><a href="{{ url('isnp', kwargs={'indiv': '%03d'|format(snp.individual.id), 'sid':'%09d'|format(snp.snp.id)}) }}">MACSNP{{"%03d%09d"|format(snp.individual.id,snp.snp.id)}}</a></td>
			<td>{{ snp.individual.code }}</td>
			<td>chr{{ snp.chromosome.pk }}: {{snp.snp.position}}</td>
			<td><span class="{{ snp.snp.reference }}">{{ snp.snp.reference }}</span></td>
			<td><span class="{{ snp.snp.alteration}}">{{ snp.snp.alteration}}</span></td>
			<td>
				{% for m in snp.snp.mutation_set.all() %}
				{% if m.synonymous == 1 %}
				<div class="ui yellow label">{{ m.get_synonymous_display() }}</div>
				{% else %}
				<div class="ui green label">{{ m.get_synonymous_display() }}</div>
				{% endif %}
				{% endfor %}
			</td>
			<td>
				{% if snp.genotype == 1 %}
				<div class="ui red label">homozygote</div>
				{% else %}
				<div class="ui blue label">heterozygote</div>
				{% endif %}
			</td>
		</tr>
		{% else %}
		<tr><td colspan="5" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
