{% set page_name = "big:research" %}
{% extends "big/base.html" %}
{% block title %}{{ _("研究方向") }} - {% endblock %}
{% block main %}
<div class="container">
	{% for research in researches %}
	<div class="row align-items-center mt-5">
		<div class="col-md-4 col-lg-2 {{ loop.cycle('order-md-first', 'order-md-last') }} text-center">
			<div class="border border-5 rounded-circle animate-hover d-inline-block">
				<img src="{{ research.thumbnail.url }}" class="rounded-circle img-fluid" width="250">
			</div>
		</div>
		<div class="col-md-8 col-lg-10">
			<div class="{{ loop.cycle('ps-md-5', 'pe-md-5') }} lh-lg">{{ research.direction | safe }}</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}