body{min-height: 1300px;}
#research{margin-top: 50px;}
#footer{color: #6a6a6a; margin-top: 50px; padding: 50px 0; font-size: 14px;}
#footer a{color: #6a6a6a; font-size: 14px;}
#footer h5{color: #262626; font-size: 14px; font-weight: bold;}
#footer ul li{line-height: 32px;}