.ui.footer.segment {
	margin: 3em 0em 0em;
	padding: 5em 0em;
}

.ui.main{
	margin-top: 3em;
}

.ui.result span{
	margin-left: 20px;
}

.genotype{
	padding: 1px 10px;
	display: inline-block;
	border-radius: 15px;
	color: #fff;
}
.genotype.hetero{
	background: linear-gradient(to right, #f2711c 0%, #f2711c 50%, #a5673f 50%, #a5673f 100%);
}
.genotype.homo{
	background: #a5673f;
}

/*base color*/
.A, .T, .C, .G, .N{
	display: inline-block;
	width: 10px;
	text-align: center;
	font-weight: bold;
}


.N{color:gray;}
.A{color:#5050ff;}
.T{color:orange;}
.G{color:#00c000;}
.C{color:#e00000;}

.ui.chromosome span,
.ui.individual span,
.ui.filters span{
	display: inline-block;
	font-weight: bold;
	text-align: right;
	width: 90px;
	padding-right: 5px;
}
.ui.individual{
	margin: 3px 0;
}